html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: black !important;

  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
